/* login_register.css */

/* General styles for both login and register forms */
body {
    font-family: Arial, sans-serif;
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

main {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    padding: 2em;
    width: 400px;
    text-align: center;
    margin-top: 50px;  /* Adjust if needed based on the header height */
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 1em;
    text-align: left;
}

form input, form select {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

form input[type="submit"] {
    background-color: #512da8;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 1em;
    cursor: pointer;
    border-radius: 5px;
}

form input[type="submit"]:hover {
    background-color: #5c6bc0;
}
